<header class="container">
	<nav class="navbar navbar-expand-lg">
		<div
			class="container-fluid">

			<!-- Logo -->
			<a class="navbar-brand" href="#">SITE MAROC</a>

			<!-- Mobile hamburger -->
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Desktop menu -->
			<div class="collapse navbar-collapse">
				<ul
					class="navbar-nav me-auto">

					{% for item in navItems %}
					<li class="nav-item dropdown position-static">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							{{ item.name }}
						</a>

						<div class="dropdown-menu mega-menu p-4">
							<div class="container-fluid">
								<div class="row">

									{% for child in item.children %}

									<div class="col-lg-3">
										<h6 class="dropdown-header">{{ child.name }}</h6>
										{% for subChild in child.children %}
										<a class="dropdown-item" href="#">{{ subChild.name }}</a>
										{% endfor %}
									</div>

									{% endfor %}


								</div>
							</div>
						</div>
					</li>
					{% endfor %}

				</ul>

				<a href="#" class="btn btn-danger ms-lg-3">
					Déposer une annonce
				</a>
                <a href="#" class="ms-lg-3">
                    <i class="fa-regular fa-bell"></i>
                </a>
                <a href="#" class="ms-lg-3">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="ms-lg-3">
                    <i class="fa-regular fa-user"></i>
                </a>
			</div>
		</div>
	</nav>
</header>

<!-- ================= OFFCANVAS MOBILE ================= -->
<div class="offcanvas offcanvas-start" id="offcanvasMenu">
	<div class="offcanvas-header">
		<h5>Menu</h5>
		<button class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>

	<div class="offcanvas-body">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="#">Acheter</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Louer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Vendre</a>
			</li>
		</ul>

		<hr>

		<a href="#" class="btn btn-danger w-100">Déposer une annonce</a>
	</div>
</div>

