			<div class="col-7">
				<div id="map"></div>
				
				<style>
					#map {
						height: 700px; /* Hauteur de la carte */
						width: 100%;
					}
					.popup-content {
						font-size: 14px;
					}
					.popup-content b {
						display: block;
						margin-bottom: 5px;
					}
					.popup-content hr {
						margin: 5px 0;
					}
				</style>
			</div>